
*.DS_Store
.LSOverride
.AppleDouble

._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcons.icns
.com.apple.timemachine.donotpresent
.babelrc
.eslintrc

.AppleDB
.AppleDesktop
.apdisk
.vscode
node_modules/